### Node configuration ###

# set the name of the node, each node should have a unique name
name = IRnode1

# set the public part of the key configured on the orchestrator
orchestratoryKey = what

# the orchestrators address
orchestrator = 127.0.0.1

#the port of the orchestrator
orchestratorPort = 5000